/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-family: var(--text-font);
  font-variation-settings: "wght" var(--font-weight-normal), "opsz" var(--font-size);
}

.header {
  block-size: 100vb;
  min-block-size: 667px;
  font-family: var(--accent-font);
}

.header__title {
  font-size: 65px;
  line-height: 100%;
  text-transform: uppercase;
}
