/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-font);
  font-variation-settings:
    "wght" var(--font-weight-normal),
    "opsz" var(--font-size);
  padding: 100px 0 0;
  background-image: var(--page-bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-block-size: 432px;
  font-family: var(--accent-font);
}

.header__container {
  height: 327px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  background-color: var(--bg-color);
}

.header__title {
  font-size: 49px;
  line-height: 100%;
  text-transform: uppercase;
}

.header__title-text {
  line-height: 100%;
  text-transform: uppercase;
  font-size: var(--font-size-botton);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--bg-color);
}

.card {
  border: var(--border);
}

.card__title {
  padding: 0px 10px 4px;
}

.card__image-container {
  width: 100%;
  height: 371px;
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-sepia {
  filter: sepia(70%);
}

.image-saturate {
  filter: saturate(300%);
}

.image-huerotate {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: invert(80%);
}

.image-fullsepia {
  filter: sepia(100%);
}

.image-blur {
  filter: blur(10px);
}

.image-preset {
  filter: hue-rotate(97deg) contrast(58%) brightness(129%) blur(1px);
}

.card__content {
  padding: 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__content p {
  margin: 0;
  line-height: 21px;
}

.card__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  padding: 25px;
  font-family: var(--accent-font);
  font-size: var(--font-size-botton);
  line-height: 90%;
}

.card__icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-icon {
  width: 27px;
  height: 27px;
}

.card__like-button {
  background: transparent;
  border: var(--border);
  width: 130px;
  height: 38px;
  padding: 9px 17px;
}

.main__button {
  display: flex;
  background: transparent;
  border: var(--border);
  font-family: var(--accent-font);
  width: 306px;
  height: 84px;
  margin: 0 35px 100px;
  flex-direction: column;
  align-items: center;
}

.icon-floppy {
  width: 28px;
  height: 28px;
}

.main__button-text {
  padding: 15px 10px;
  font-size: var(--font-size-botton);
}
