/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-width: clamp(375px, 100%, 700px);

 --bg-color: rgba(255, 255, 255, 1);
  --label-text-color: rgba(255, 255, 255, 1);
  --label-stroke-color: rgba(0, 0, 0, 1);
  --animation-fill-color: rgba(255, 0, 0, 1);
  --contour-color: rgba(0, 0, 0, 1);
  --accent-color: rgba(0, 0, 0, 1);


  --page-bg-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);

  --text-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;

  --font-size: 18px;
  --font-size-bottom: 14px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --border: 2px solid rgba(0, 0, 0, 1);
}
