/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: rgba(255, 255, 255, 1);

  --text-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;

  --font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
